@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Herramientas";
}
<style>
    body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #000;
        color: #fff;
        padding: 20px;
    }

    h1 {
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    nav a {
        padding: 10px;
        text-decoration: none;
        color: #fff;
    }

    main {
        margin-top: 20px;
    }

    section {
        padding: 20px;
        border-top: 1px solid #ccc;
    }

    h2 {
        text-align: center;
        padding-bottom: 50px;
    }

    article {
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 10px;
    }

    img {
        width: 100%;
    }

    footer {
        background-color: #ccc;
        padding: 20px;
        text-align: center;
    }

    section.herramientas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

        section.herramientas .row {
            margin-bottom: 20px;
            margin-top: 30px;
        }

        section.herramientas .column {
            width: 50%;
        }

        section.herramientas h3 {
            text-align: center;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

</style>

<body>
    <main>
        <section class="herramientas">
            <h2>Herramientas</h2>
            <div class="row">
                <div class="column">
                    <h3>Herramientas básicas</h3>
                    <ul>
                        <li>Llave inglesa</li>
                        <li>Llave allen</li>
                        <li>Llave de trinquete</li>
                        <li>Destornillador plano</li>
                        <li>Destornillador de estrella</li>
                        <li>Cortaúñas</li>
                        <li>Cinta aislante</li>
                        <li>Cinta de manillar</li>
                        <li>Cámara de repuesto</li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Herramientas avanzadas</h3>
                    <ul>
                        <li>Tijeras de acero</li>
                        <li>Martillo</li>
                        <li>Lima</li>
                        <li>Cepillo de alambre</li>
                        <li>Pegamento para neumáticos</li>
                        <li>Botella de CO2</li>
                        <li>Cámara de aire</li>
                        <li>Kit de reparación de pinchazos</li>
                        <li>Manómetro</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</body>

